.coin-flip{
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

.sprite{
    position: absolute;
    display: none;
}

.sprite.current{
    display: block;
}

.coin{
    display: flex;
    justify-content: center;
}
.coin-1{
    position: absolute;
    left: 50%;
    top: 16%;
    transform: translateX(calc(-15vw - -50%)) scale(.25);
}

.coin-2{
    position: absolute;
    left: 50%;
    top: 12%;
    transform: translateX(-50%) scale(1);
    display: flex;
    justify-content: center;
}
.coin-3{
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translateX(calc(10vw - -50%)) scale(.6);
}

.black-hole{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform-origin: center;
    transform: translate(-50%, 5px) scaleX(1.1);
    z-index: -1;
}






/* MOBILE */
@media (max-width: 576px) {

    .coin-2{transform: translateX(-50%) scale(0.7);}
    .coin-3{transform: translateX(calc(10vw - -50%)) scale(.5);}


}