.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 30px 30px;
    width: 100%;
    position: relative;
}

.target-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #3C3C3B;
    padding: 3em 1em;
    color: #FFF;
    text-transform: uppercase;
    transition: .35s ease;
    cursor: pointer;
    position: relative;
}

.target-card:before,
.target-card:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    pointer-events: none;
    z-index: 2;
    opacity: 0;
    transition: .35s ease;
}

.target-card:hover:after,
.target-card:hover:before{
    opacity: 1;
}

.target-card:hover:after{
    transform: translate(15px, -15px);
}
.target-card:hover:before{
    transform: translate(-15px, 15px);
}

.target-card::after{
    background-image: url('../../../assets/img/corner-left.svg');
    
}
.target-card::before{
    background-image: url('../../../assets/img/corner-right.svg');
    background-position: bottom left;
    
}
.target-card .icon svg {
    min-height: 100px;
    min-width: 200px;
}
.target-card p,
.target-card svg,
.target-card .grid-title{
    transition: .35s ease;
}
.grid-title{
    text-align: center;
    font-size: 35px;
    color: #FFF;
    font-weight: 600;
}
.target-card p{
    margin: 1em 0 0 0;
    letter-spacing: 3px;
    text-align: center;
}

.target-card .label {
    display: flex;
    flex-direction: column;
}

.target-card:hover{
    background-color: #FFF;
    border: 2px solid #FFF;
    box-shadow: 0px 0px 15px 0px rgba(var(--red),0.5), 0px 0px 10px 0px rgba(var(--white),1), 1px -5px 30px 2px rgba(var(--blue),0.6);
}

.target-card:hover p,
.target-card:hover .grid-title,
.target-card:hover svg{
    filter: invert(1);
}

.grid-block{
    position: relative;
    width: 100vw;   
}

.le-reglement{
    border-radius: 50%;
    min-width: 150px;
    min-height: 150px;
    background: rgb(69,101,173);
    background: linear-gradient(142deg, rgba(69,101,173,1) 0%, rgba(203,7,103,1) 100%);
    position: absolute;
    z-index: -1;
}


.lr1{
    top: -85%;
    left: -10%;
    width: 400px;
    height: 400px;
    opacity: .2;
}
.lr2{
    bottom: -60vh;
    top: auto;
    left: 25%;
    width: 500px;
    height: 500px;
    opacity: .3;
}
.lr3{
    bottom: -15%;
    right: -5%;
}






@media screen and (max-width: 1280px), screen and (max-height: 1024px)
{

}


@media (max-width: 1200px) {

}
/* IPAD PRO */
@media (max-width: 1024px) {


    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 30px 30px;
        width: 100%;
        position: relative;
    }



}

@media (max-width: 992px) {
    .target-card .icon svg {
        min-height: 70px;
        min-width: 150px;
    }
}

/* IPAD */
@media (max-width: 768px) {
    .target-card .icon svg {
        min-height: 50px;
        min-width: 100px;
    }
}

/* MOBILE */
@media (max-width: 576px) {
    .lr1{display: none;}
}









