.jumbotron{
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 0 auto;
    margin-top: 5vh;
}

.jumbotron h2{
    text-transform: uppercase;
    font-size: 3em;
    line-height: .8;
    margin-bottom: .5em;
}

.jumbotron h1 {
    color: transparent!important;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.2);
    font-size: clamp(30px, 25vw, 210px);
    font-weight: 100;
    line-height: 0.7;
}

.jumbotron h1,
.jumbotron h2{
    max-width: 50%;
}

.jumbotron .icon {
    position: absolute;
    right: 0;
    top: 0;
    height: 30vh;
    width: 30vh;
    padding: 1em;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.jumbotron .main-icon {
    height: 100%;
    max-height: 20vh;
    margin: auto;
}

.jumbotron .main-icon svg {
    width: 100%;
    height: 100%;
}

.jumbotron .cta{
    position: absolute;
    right: 0;
    bottom: 10vh;
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

.jumbotron .cta img{
    max-height: 30px;
}

.jumbotron .icon .top-right{
    width: fit-content;
    margin-left: auto;
}

.jumbotron .icon .bottom-left {
    margin-right: auto;
    width: fit-content;
}


.jumbotron .cta > div{
    margin-left: 30px;
}

.jumbotron:after {
    content: "";
    background: linear-gradient(0deg, #1b1b1b, transparent);
    height: 25vh;
    width: 100vw;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0px);
    position: absolute;
    z-index: 0;
    pointer-events: none;
}



@media screen and (max-width: 1280px), screen and (max-height: 1024px){
}


@media (max-width: 1200px) {
}

/* IPAD PRO */
@media (max-width: 1024px) {
    .jumbotron {
    width: 90vw;
    }
    .jumbotron h1 {
    font-size: clamp(30px, 25vw, 150px);
    }
}

@media (max-width: 992px) {
}

/* IPAD */
@media (max-width: 768px) {

}

/* MOBILE */
@media (max-width: 576px) {
    .jumbotron {
        position: relative;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        width: 100vw;
        margin: 0 auto;
        margin-top: 5vh;
        padding: 120px 30px 0 30px;
    }
    .jumbotron h1, .jumbotron h2 {
        max-width: 100%;
    }
    .jumbotron .cta {
        position: relative;
        right: auto;
        bottom: auto;
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        flex-direction: column;
        padding-bottom: 30px;
    }
    .jumbotron .cta > div{
        margin-top: 30px;
        margin-left: 0px;
    }
}






