.svg-text{
    width: 100vw;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 444;
    pointer-events: none;

}

.svg-text text{
    font-family: 'Squada One', sans-serif;
    fill: transparent;
    stroke: rgb(var(--white));
    dominant-baseline: middle;
    text-shadow: 0px 0px 7px rgba(var(--red),0.9), 0px 0px 7px rgba(var(--white),1), 0px 0px 15px rgba(var(--blue),0.4);
    stroke-dashoffset: 800;
    stroke-dasharray: 800;
}
