
  /*                    SLIDER
  ************************************************/
.slider{
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 120vh;
    overflow: hidden;
    pointer-events: initial;
    z-index: 100;
}
.slider-content {
    width: 70vw;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 0;
    z-index: 1001;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 100vh;
    padding: 6.5em 3em;
    justify-content: center;
}
.slider:after{
  content: "";
  background: linear-gradient(0deg, rgba(27,27,27,1) 5%, rgba(27,27,27,0) 100%);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 35vh;
  z-index: 101;
}
.slider video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.slider h1, .slider h2, .slider h3, .slider p{
  color: #FFF;
}
.title{
  font-size: clamp(32px, 5vw, 96px);
  text-transform: uppercase;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 4px;
  margin-bottom: 0.5em;
}
.slider-text{
  width: 60%;
}
.slider img,
#slider video{
  object-fit: cover;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.slider-btn{
  color: #FFF;
  position: relative;
  text-decoration: none;
  font-size: 1.5em;
}
.slider-btn:hover{
  color: #FFF;
  text-decoration: none;
}
.slider-btn:before{
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 2px;
  background-color: #FFF;
  transition: transform .3s ease;
  transform-origin: right;
  transform: scaleX(0);
}
.slider-btn:hover:before{
  transform: scaleX(1);
  transform-origin: left;
}
.slider-prev-arrow g,
.slider-next-arrow g{
    fill: #FFF;
}
.slider-prev-arrow,
.slider-next-arrow{
    cursor: pointer;
    position: absolute;
    z-index: 5;
    width: 45px;
    height: 45px;
    top: 50%;
}
.slider-prev-arrow{
    transform-origin: center;
    transform: rotate(180deg);
    left: 5vw;
}
.slider-next-arrow{
    right: 5vw;
}

.short{
  margin-bottom: 5em;
}

#slider-dots{
  position: absolute;
  bottom: 5vh;
  right: 5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  z-index: 5;
}
.slider-dots{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.slider-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: 0;
  background: 0 0;
  position: relative;
}
.slider-dots li button:before{
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  transform-origin: center;
  display: block;
  width: 5px;
  height: 5px;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  border: 1px solid transparent;
  transition: .3s ease;
}
.slider-dots li.slick-active button:before{
  height: 12.5px;
  width: 12.5px;
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
}
.slider-container{
  height: 100%;
}
.main-slider{
  height: 100%;
}

.greyscale{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 445;
  width: 100%;
  height: 100%;
  background-color: rgb(var(--dark)); 
  transition: .35s ease;
}

.corner{
  position: absolute;
  transition: .35s ease;
  pointer-events: none;
}

.full-video:hover .corner.top-right{
  transform: translate(10px, -10px);
}
.full-video:hover .corner.bottom-left{
  transform: translate(-10px, 10px);
}

.corner.bottom-left{
  bottom: -30px;
  left: -30px;
}
.corner.top-right{
  top: -30px;
  right: -30px;
}

.central-player{
  filter: drop-shadow(0px -6px 25px #cb0767)
}

.full-video{
  position: absolute;
  top: 50vh;
  right: 20vw;
  transform: translate(-50%, -50%);
  z-index: 1002;
  cursor: pointer;
}

.close-full-video{
  position: absolute;
  cursor: pointer;
  top: 100px;
  right: 100px;
  z-index: 1003;
  filter: drop-shadow(0px -6px 25px #cb0767);
}

header, nav, .slider-content, .full-video, .close-full-video{
  transition: .35s ease;
}

.hidden{
  opacity: 0!important;
  pointer-events: none;
}

  /*************************************************
  *                 RESPONSIVE                     *
  **************************************************/
  
/* 13 POUCES */
@media screen and (max-width: 1280px), screen and (max-height: 1024px){
  .slider-content {
      width: 90vw;
      padding: 6.5em 30px 30px 30px;
  }
}

@media (max-width: 1200px) {

}
/* IPAD PRO */
@media (max-width: 1024px) {


}

@media (max-width: 992px) {

}

/* IPAD */
@media (max-width: 768px) {

}

/* MOBILE */
@media (max-width: 576px) {
  .slider {
    min-height: 90vh;
    height: auto;
  }
 .slider-content {
    width: 100vw;
    left: 0;
    padding: 2em;
    position: relative;
    transform: translate(0px, 0px);
    padding-top: 30vh;
  }
  .main-slider-bkg {
    height: 100vh!important;
  }
  .slider-next-arrow,
  .slider-prev-arrow{
    display: none;
  }
  .slider-text{
    width: 100%;
  }
}