

.title-page.blog-title{
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
  }
  .blog-title-side.team-title {
      position: fixed;
      top: 50%;
      left: 8vw;
      transform: translate(0px, -50%);
      z-index: 1;
  }
  .blog-title-side.team-title ul{
    padding-left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .cat-aside > li.categories ul {
      border-top: 1px solid #ffffff38;
      display: block;
      padding: 10px 0 0 0;
      margin: 10px 0 0 0;
  }
  .text-white .cat-aside li a{
    color: rgb(var(--white));
  }
  .text-black .cat-aside li a{
    color: rgb(var(--white));
  }
  .blog-title-side.team-title ul .current-cat a {
      font-weight: 700;
      color: rgb(var(--red));
  }
  .article > div{
    border-radius: 15px;
    overflow: hidden;
  }

  .entry-header {
      margin-top: 30vh;
      padding: 15px;
      border-radius: 15px;
      background: rgba(0, 0, 0, 0.83);
      z-index: 2;
      position: relative;
  }
  article .archive-img-cover{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
  }
  .single .entry-header {
      margin-top: 20vh;
      padding: 0px;
      border-radius: 0px;
      background: transparent;
  }
  .single-link-container {
      border-radius: 15px!important;
      /* overflow: hidden!important; */
      align-items: center;
      transform: scale(1);
      min-height: 35vh;
      /* max-width: 400px; */
  }
  .single-link-container .cover {
    box-shadow: 0px 0px 15px 0px rgba(var(--red),0.5), 0px 0px 10px 0px rgba(rgb(var(--white),1), 1px -5px 30px 2px rgba(var(--blue),0.6));
    border-radius: 15px;
  }
  .single-link-container:hover .archive-img-cover{
      transform: scale(1.1);
  }
  .card-scroll{
    z-index: 2;
    position: relative;
  }
  .entry-meta * {
      font-size: 13px;
  }
  .cat-aside li {
      font-family: 'Squada One', sans-serif!important;
      font-size: 30px;
  }
 .post article a.blog-external-link {
      border: 1px solid #FFF;
      padding: 1em;
      display: inline-block;
      margin: 30px 0;
      cursor: pointer;
  }
  .post article a.blog-external-link:hover {
      border-left: 5px solid #FFF;
  }
  .post article a.blog-external-link:before {
    content: '\f0c1'; /* You should use \ and not /*/
    font-family: "Font Awesome 5 Free"; /* This is the correct font-family*/
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
      display: inline-block;
      margin-right: 20px;
  }
  span.comments-link {
      display: none;
  }
  article a{
    color:#FFF;
  }
  article a:hover{
    color:var(--secondary);
    text-decoration: none;
  }

  /* ASIDE */
  aside section{
    margin: 50px 0;
  }
  aside ul {
      list-style: none;
      margin: 0;
      padding: 0;
  }
  aside a {
      color: #FFF;
      font-size: 16px;
      line-height: normal;
  }

  /* ARCHIVE */

  .entry-title a {
      color: #fff;
      font-size: 18px;
      line-height: normal;
      letter-spacing: 0;
      align-items: center;
  }
  .category .attachment-post-thumbnail,
  .blog .attachment-post-thumbnail{
    position: fixed;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    z-index: 0;
  }
  .blog-index-title {
      position: fixed;
      z-index: 1;
      bottom: 0;
      left: -70px;
      font-size: clamp(20px, 43vw, 660px);
      opacity: 0.2;
      z-index: 1;
      text-transform: uppercase;
      line-height: 0.6;
  }
  .category .blog-background,
  .blog .blog-background{
    opacity: .6;
  }

  .blog-background{
    position: fixed;
    width: 100%;
    height: 100%;
  }


  /* INDEX */
  .term-list{
    list-style: none;
  }
  .term-list li {
      display: flex;
      flex-direction: column;
      padding: 10px 10px 10px 0;
      text-align: center;
      margin-top: 10px;
  }
  .term-list li a{
    color: #000;
  }
  .term-list li:hover a{
    color: #FFF;
  }
  .single footer.entry-footer {
      background: #000;
      color: #fff;
      padding: 5px;
  }
  blockquote {
      margin: 50px 0!important;
      font-style: italic!important;
      border-left: 3px solid rgb(var(--primary))!important;
      padding-top: 0px!important;
      padding-left: 50px!important;
  }
  .navigation-div {
      display: block;
      width: 100%;
      margin-top: 25vh;
      margin-bottom: 0vh;
  }
  .navigation.posts-navigation h2 {
      display: none;
  }
  .nav-links{display: flex;}

  .nav-previous{
    margin-left: auto;
  }
  .nav-next{
    margin-right: auto;
  }

  .link-to-post{
      height: 100%;
      width: 100%;
      z-index: 0;
      border-radius: 15px;
      overflow: hidden!important;
  }


  .title-article{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }





  /* SINGLE  */
   body.single-post{
      background-color: rgb(var(--white));
  }
  body.single-post .single-container,
  body.single-post .post-navigation{
      color: rgb(var(--black));
  }
  .single-blog h4{
    font-size: 1.2em;
  }

  .title-page.single-blog {
      height: 100vh;
      width: 100%;
      position: relative;
      overflow: hidden;
      margin-bottom: -33vh;
  }
  .title-page.single-blog:after {
    display: none;
  }
  .title-page.single-blog img {
    filter: blur(10px);
    transform: scale(1.1);
  }
  .title-page.single-blog .entry-title {
    padding: 20vh 15vw;
    color: rgb(var(--white));
    align-items: center;
    background: #00000047;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .single-post .is-style-container-small a{
    color: rgb(var(--primary));
    text-decoration: none;
    position: relative;
  }

  .single-post .is-style-container-small a:after{
    content: "";
    width: 100%;
    height: 1px;
    display: block;
    position: absolute;
    left: 0;
    background-color: rgb(var(--primary));
    transform-origin: left;
    transform: scaleX(0);
    transition: .35s ease;
  }
  .single-post .is-style-container-small a:hover:after{
    transform: scaleX(1);
  }

  .single-container > div > img {
      border-radius: 15px;
      overflow: hidden;
      box-shadow: 0 0 70px #0000003b;
      max-height: 55vh;
  }

   body.single-post .is-style-container-small{
        max-width: 700px;
   }
   body.single-post .is-style-container-small p{
             font-size: 1.2em;
   }
   body.single-post .is-style-container-small dl,
   body.single-post .is-style-container-small ol,
   body.single-post .is-style-container-small ul {
      margin: 0;
      font-size: 1em;
      padding: 1.4em;
   }
   body.single-post .is-style-container-small dl li::marker,
   body.single-post .is-style-container-small ol li::marker,
   body.single-post .is-style-container-small ul li::marker {
     color: rgb(var(--primary));
   }
   body.single-post .is-style-container-small dl li,
   body.single-post .is-style-container-small ol li,
   body.single-post .is-style-container-small ul li {
     padding-left: 0.5em;
   }
  body.single-post .is-style-container-small h2{
     margin-top: 60px;
     margin-bottom: 30px;
     line-height: normal;
   }
  body.single-post .is-style-container-small h3{
     margin-top: 30px!important;
     margin-bottom: 15px!important;
   }
   .single-blog h1 {
    font-size: 60px;
    }
    body.single-post .is-style-container-small hr{
      margin: 5px 0;
    }

   /* PAGINATION */
  body.single-post .comment-navigation .nav-links,
  body.single-post .posts-navigation .nav-links,
  body.single-post .post-navigation .nav-links{
    justify-content: center;
  }
  body.single-post .comment-navigation .nav-previous,
  body.single-post .posts-navigation .nav-previous,
  body.single-post .post-navigation .nav-previous {
      flex: auto;
      width: 50%;
      justify-content: flex-end;
      display: flex;
  }

  body.single-post .comment-navigation .nav-next,
  body.single-post .posts-navigation .nav-next,
  body.single-post .post-navigation .nav-next {
      flex: auto;
      width: 50%;
      justify-content: flex-start;
      display: flex;
  }
    body.single-post .nav-next {
      padding-left: 30px;
      text-align: start!important;
    }
    body.single-post .nav-previous {
      padding-left: 0px;
      padding-right: 30px;
      text-align: start!important;
    }
    body.single-post nav.navigation.post-navigation {
        padding-top: 70px;
        margin-top: 70px!important;
        max-width: 70vw;
        margin: auto;
        border-top: 1px solid #E9E9E9;
    }

    .archive-projet-back, .archive-blog-back{
      position: absolute;
      top: 20%;
      left: 15%;
      z-index: 999;
    }

    .archive-projet-back{
      left: unset;
    }

    .archive-projet-back a,
    .archive-blog-back a{
      color: white;
    }





  /*
    ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops
  */

  @media (min-width: 1281px) {



  }

  /*
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

  @media (min-width: 1025px) and (max-width: 1280px) {



  }

  /*
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

  @media (min-width: 768px) and (max-width: 1024px) {
    .single-blog h1 {
    font-size: 40px;
    }


  }

  /*
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {



  }

  /*
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

  @media (min-width: 481px) and (max-width: 767px) {


  }

  /*
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

  @media (min-width: 320px) and (max-width: 480px) {

    .archive-projet-back, .archive-blog-back{
      top: 25%;
    }
    .single-blog h1 {
    font-size: 30px;
    }

  }
