contact-container {
    width: 100vw;
    height: auto;
}
.contact-container .map {
    width: 50vw;
    height: 100vh;
    background-color: #000;
    position: fixed!important;
    top: 0px;
    left: 0;
    z-index: -1;
}

.contact-container .contact {
    width: 50vw;
    padding: 20vh 5vw 10vh 5vw;
    margin-left: auto;
}

.wpcf7 {
    border: 2px solid #fff;
}

.my-form-group{
    border: 1px solid var(--white);
}

.my-form-group p{
    margin: 0;
}

.my-form-row{
    display: flex;
    flex-direction: row;
}

.my-form-row span{
    width: 100%;
}

.my-form-row .my-col{
    width: 50%;

}


.envoyer{
    width: 50%;
    float: right;
    position: relative;
}
.envoyer input.wpcf7-submit:focus {
  color: #000!important;
}
.contact-container .contact input, .contact-container .contact textarea, .contact-container .contact select {
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    border: none;
    font-size: 1.3rem;
    padding: 1em 1.5rem;
    font-weight: 700;
}

.contact-container .contact input:focus,
.contact-container .contact textarea:focus
.contact-container .contact select: focus{
    color: white !important;
    border: none;
    outline: none !important;
}

.envoyer input{
    background-color: var(--white);
    color: var(--black);
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border-radius: 0;
    font-size: 100%;
}


.left-col .content{
    width: 80%;
    margin: auto;
    text-align: left;
}


.mail-title{
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    letter-spacing: 1px;
}

.data-warning{
    color: rgba(255, 255, 255, 0.5);
}

.wpcf7-response-output{
    margin-top: 10vh!important;
}

.wpcf7 .wpcf7-response-output{
  color: #fff;
}
