footer{
    background-color: rgb(var(--dark));
    min-height: 400px;
    color: #FFF;
    padding: 5vh 0;
    z-index: 1;
    position: relative;
}

hr{
    width: 100%;
    background-color: #FFF;
    height: 1px;
    margin: 30px 0;
    opacity: .2;
}

footer .logo{
}
.footer-widget * {
    margin-bottom: 0px;
    margin-top: 0px;
}
.footer-widget hr{
    width: 100%!important;
    background-color: #FFF!important;
    height: 1px!important;
    margin: 30px 0!important;
    opacity: .2!important;
}
.site-description{
    display: flex;
    justify-content: space-between;
}

.tagline{
    text-transform: uppercase;
    font-size: 2em;
    max-width: 200px;
}

.sub-footer{
    display: flex;
    justify-content: space-between;
    margin: 0m;
    padding: 0;
}

#menu-footer-menu,
#menu-sub-footer,
#menu-rs-menu{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

#menu-footer-menu a,
#menu-sub-footer a,
#menu-rs-menu a{
    color: #FFF;
}

#menu-footer-menu,
#menu-footer-menu ul,
#menu-sub-footer,
#menu-rs-menu{
    list-style: none;
}

#menu-footer-menu li >  ul > li{
    display: none;
}

#menu-footer-menu{
    margin: 0em;
    padding: 0;
}
#menu-footer-menu a {
    padding: 5px 15px;
    display: flex;
}
.subfooter-menu a{
    margin-left: 15px;
    font-size: 12px;
}

.RS-menu li a {
    margin-right: 15px;
}

.surf-rider-footer-col {
    margin-left: auto!important;
}

@media screen and (max-width: 1280px)
{
    .surf-rider-footer-col{
        margin-left: auto!important;
    }
}


@media (max-width: 1200px) {

}
/* IPAD PRO */
@media (max-width: 1024px) {


}

@media (max-width: 992px) {

}

/* IPAD */
@media (max-width: 768px) {

}

/* MOBILE */
@media (max-width: 576px) {
    .site-description,
    .footer-widget,
    .footer-widget .wp-block-columns,
    .footer-widget .wp-block-column,
    .footer-widget p,
    .footer-menu ul,
    .sub-footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center!important;
    }
    .site-description .logo{
        margin-bottom: 30px;
    }

    .footer-menu ul li a,
    .sub-footer ul li a{
        margin-bottom: 10px;
        padding: 10px 0;
        display: flex;
    }
    .tagline {
        max-width: 100%;
    }
    .RS-menu li a {
    margin-right: 15px;
    margin-left: 15px;
    }

}
