.fancybox__container{
  z-index: 99999!important;
}
.wp-block-image, figure {
    margin-bottom: 0!important;
		width: 100%;
}
.wp-block-image .aligncenter {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
}

/* FONT SIZE STYLE */
.has-h-2-serif-font-size{
  font-size: 2.5em;
  font-family: 'charter';
  font-weight: 100!important
}

.has-h-2-sans-serif-font-size{
  font-size: 2em;
}
.has-h-3-serif-font-size{
  font-size: 1.5em;
  font-family: 'Charter'!important;
  font-weight: 100!important
}
.has-h-3-sans-serif-font-size{
  font-size: 1.2em;
  font-weight: 100!important;
  text-transform: uppercase;
}

.uppercase{
  text-transform: uppercase!important;
}
.has-big-font-size{
  font-size: 10vw;
  opacity: 0;
  color: rgb(var(--grey));
  letter-spacing: 120px;
  font-weight: 100;
  text-align: center;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  max-width: 100vw;
  overflow: hidden;
}
.has-bigtext-font-size {
    font-size: 2rem;
    font-weight: 600;
}
.has-small-font-size{
	font-size: 0.9rem;
}


/* BUTTONS */
.wp-block-buttons>.wp-block-button:nth-of-type(1n + 2) {
  margin-left: 30px;
}
.wp-image-228{
  width: 20px!important;
}
button,
.btn-full,
.is-style-btn-full a,
.wp-block-button a,
.btn-stroke,
.is-style-outline a{
    padding: 1.5em 3em!important;
    text-transform: uppercase!important;
    text-decoration: none!important;
    font-size: 13px!important;
    font-weight: 500!important;
    letter-spacing: 5px!important;
    position: relative!important;
    transition: .35s ease!important;
    display: inline-flex!important;
    align-items: center!important;
    border-radius: 0px!important;
    justify-content: space-around!important;
    z-index: 1!important;
}
button img,
.btn-full img,
.is-style-btn-full a img,
.wp-block-button a img,
.btn-stroke img,
.is-style-outline a img{
  margin-right: 15px;
}
.btn-stroke img,
.is-style-outline a img{
  transition: .35s ease!important;
  filter: invert(1) brightness(1.5);
}
.btn-stroke:hover img,
.is-style-outline a:hover img{
  filter: invert(0) brightness(1);
}
a:visited, a:hover, a:focus{
    color: inherit;
    text-decoration: inherit;
}
.entry-content :not(.wp-block-buttons) a {
    color: #FFF;
}
.btn-full,
.is-style-btn-full a,
.wp-block-button a{
    background-color: rgb(var(--white));
    color: rgb(var(--black));
    box-shadow: 0px 0px 7px 0px rgba(var(--red),0.5), 0px 0px 7px 0px rgba(var(--white),1), 0px 0px 15px 1px rgba(var(--blue),0.4);
    border: 2px solid rgba(var(--white),0);
    color: #000!important;
}
a.wp-block-button__link:hover,
.btn-full:hover,
.is-style-btn-full a:hover{
    box-shadow: none!important;
}
.btn-full:hover,
.is-style-btn-full a:hover,
.wp-block-button a:hover,{
    color: rgb(var(--black));
    text-decoration: none;
    box-shadow: none;
}

.btn-full:hover:after,
.is-style-btn-full a:hover:after,
.wp-block-button a:hover:after{
    transform: translate(-10px, 10px);
    opacity: 1;
}
.btn-full:hover:before,
.is-style-btn-full a:hover:before,
.wp-block-button a:hover:before{
    transform: translate(10px, -10px);
    opacity: 1;
}

.btn-full:before, .btn-full::after,
.is-style-btn-full a:before,
.wp-block-button a:before,
.is-style-btn-full a::after,
.wp-block-button a::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    pointer-events: none;
    transition: .35s ease;
    opacity: 0;
}

.btn-full:before,
.is-style-btn-full a:before,
.wp-block-button:not(.is-style-outline) a:before{
    background-image: url('../img/corner-left.svg');
    top: -10px;
    left: 10px;
}

.btn-full:after,
.is-style-btn-full a:after,
.wp-block-button:not(.is-style-outline) a:after{
    background-image: url('../img/corner-right.svg');
    background-position: bottom left;
    left: -10px;
    top: auto;
    bottom: -10px;
}

 .btn-stroke,
 .is-style-outline a{
    border: 2px solid rgb(var(--white))!important;
    color: rgb(var(--white))!important;
}


.btn-stroke:after,
.is-style-outline a:after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgb(var(--white));
    transform: scaleX(0);
    transition: .35s ease;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: left;
    z-index: -1;
}

.btn-stroke:hover,
.is-style-outline a:hover{
    color: rgb(var(--black))!important;
}

.btn-stroke:hover:after,
.is-style-outline a:hover:after{
    transform: scaleX(1);
}

/* **************** */
/* CONTAINER STYLE */
.is-style-container .wp-block-group__inner-container{
  padding: 0 30px;
}
@media (min-width: 576px){
  .is-style-container,
  .wp-block-cover .wp-block-cover__inner-container{
    width: 100%!important;
    margin: auto;
  
  }
  .is-style-container-small {
  margin: auto;
  }
  .is-style-container-half-left .wp-block-column:last-of-type {
  padding: 2rem calc(3vw + 15px) 2rem 2em;
  }
  
  }
  @media (min-width: 768px){
  .is-style-container,
  .wp-block-cover .wp-block-cover__inner-container{
  width: 100%!important;
  margin: auto;
  }
  }
  @media (min-width: 992px){
  .is-style-container,
  .wp-block-cover .wp-block-cover__inner-container{
  width: 90vw!important;
  margin: auto;
  }
  }
  @media (min-width: 1024px){
  .is-style-container,
  .wp-block-cover .wp-block-cover__inner-container{
  width: 90vw!important;
  margin: auto;
  }
  .is-style-container-half-left .wp-block-column:last-of-type {
  padding: 5rem calc(5vw + 15px) 5rem 5em;
  }
  }
  @media (min-width: 1200px){
  .is-style-container,
  .wp-block-cover .wp-block-cover__inner-container{
  width: 75vw!important;
  margin: auto;
  }
  .is-style-container-half-left .wp-block-column:last-of-type {
  padding: 5rem calc(15vw + 15px) 5rem 5em;
  }
  }

/* BANNIERE */

.is-style-custom-cover-col{
  /* height: 100%!important; */
  display: flex!important;
  flex-direction: column!important;
}
.is-style-custom-cover-col > div{
height: 100%!important;
margin-bottom: 1.25rem!important;
}
.wp-block-cover {
  margin: 0!important;
}

.wp-block-cover.container-full .wp-block-cover__inner-container{
  width: 100%!important;
}

.wp-block-cover.container-full{
  padding: 0!important;
}

.wp-block-cover.h-100vh .wp-block-cover__inner-container{
  margin: 0!important;
  height: 100%!important;
  display: flex;
  flex-direction: column;
}

/* Banner before / after */

.banner{
  position: relative;
}

.banner:before,
.banner:after{
  content: "";
  display: block;
  height: 20vw;
  width: 100%;
  left: 0;
  position: absolute;
  z-index: 3;
  pointer-events: none;
}

.banner:before{
  top: 0;
  background: rgb(var(--dark));
  background: -moz-linear-gradient(178deg, rgba(var(--dark),1) 0%, rgba(var(--dark),1) 16%, rgba(255,255,255,0) 16%, rgba(255,255,255,0) 19%, rgba(255,255,255,0) 19%, rgba(var(--dark),1) 19%, rgba(var(--dark),1) 19%, rgba(var(--dark),1) 30%, rgba(255,255,255,0) 30%, rgba(255,255,255,0) 39%, rgba(255,255,255,0) 39%, rgba(var(--dark),1) 39%, rgba(var(--dark),1) 42%, rgba(255,255,255,0) 42%, rgba(255,255,255,0) 42%);
  background: -webkit-linear-gradient(178deg, rgba(var(--dark),1) 0%, rgba(var(--dark),1) 16%, rgba(255,255,255,0) 16%, rgba(255,255,255,0) 19%, rgba(255,255,255,0) 19%, rgba(var(--dark),1) 19%, rgba(var(--dark),1) 19%, rgba(var(--dark),1) 30%, rgba(255,255,255,0) 30%, rgba(255,255,255,0) 39%, rgba(255,255,255,0) 39%, rgba(var(--dark),1) 39%, rgba(var(--dark),1) 42%, rgba(255,255,255,0) 42%, rgba(255,255,255,0) 42%);
  background: linear-gradient(178deg, rgba(var(--dark),1) 0%, rgba(var(--dark),1) 16%, rgba(255,255,255,0) 16%, rgba(255,255,255,0) 19%, rgba(255,255,255,0) 19%, rgba(var(--dark),1) 19%, rgba(var(--dark),1) 19%, rgba(var(--dark),1) 30%, rgba(255,255,255,0) 30%, rgba(255,255,255,0) 39%, rgba(255,255,255,0) 39%, rgba(var(--dark),1) 39%, rgba(var(--dark),1) 42%, rgba(255,255,255,0) 42%, rgba(255,255,255,0) 42%);
}

.banner:after{
  bottom: 0;
  background: rgb(var(--dark));
  background: -moz-linear-gradient(358deg, rgba(var(--dark),1) 0%, rgba(var(--dark),1) 16%, rgba(255,255,255,0) 16%, rgba(255,255,255,0) 19%, rgba(255,255,255,0) 19%, rgba(var(--dark),1) 19%, rgba(var(--dark),1) 19%, rgba(var(--dark),1) 30%, rgba(255,255,255,0) 30%, rgba(255,255,255,0) 39%, rgba(255,255,255,0) 39%, rgba(var(--dark),1) 39%, rgba(var(--dark),1) 42%, rgba(255,255,255,0) 42%, rgba(255,255,255,0) 42%);
  background: -webkit-linear-gradient(2deg, rgba(var(--dark),1) 0%, rgba(var(--dark),1) 16%, rgba(255,255,255,0) 16%, rgba(255,255,255,0) 19%, rgba(255,255,255,0) 19%, rgba(var(--dark),1) 19%, rgba(var(--dark),1) 19%, rgba(var(--dark),1) 30%, rgba(255,255,255,0) 30%, rgba(255,255,255,0) 39%, rgba(255,255,255,0) 39%, rgba(var(--dark),1) 39%, rgba(var(--dark),1) 42%, rgba(255,255,255,0) 42%, rgba(255,255,255,0) 42%);
  background: linear-gradient(358deg, rgba(var(--dark),1) 0%, rgba(var(--dark),1) 16%, rgba(255,255,255,0) 16%, rgba(255,255,255,0) 19%, rgba(255,255,255,0) 19%, rgba(var(--dark),1) 19%, rgba(var(--dark),1) 19%, rgba(var(--dark),1) 30%, rgba(255,255,255,0) 30%, rgba(255,255,255,0) 39%, rgba(255,255,255,0) 39%, rgba(var(--dark),1) 39%, rgba(var(--dark),1) 42%, rgba(255,255,255,0) 42%, rgba(255,255,255,0) 42%);

}


/* QUOTE */
blockquote.wp-block-quote {
  padding-left: 30px;
  border-left: 3px solid rgb(var(--orange));
  margin-left: 5px;
  margin-top: 3em;
  margin-bottom: 3em;
  font-size: 18px;
  font-style: italic;
}

/* LISTE */
.hentry ul,
.entry-content ul{
  border: none!important;
  border-radius: none!important;
  margin-left: 0!important;
  /* padding-left: 30px!important; */
}
/**
*     FAQ
*/
ol.schema-how-to-steps {
  margin:0 0 1.5em;
  padding:0;
  counter-reset:item;
}
ol.schema-how-to-steps>li {
  margin:0;
  padding:0 0 0 2em;
  list-style-type:none;
  counter-increment:item;
}
ol.schema-how-to-steps>li:before {
    display: inline-block;
    padding-right: 0.5em;
    font-weight: bold;
    text-align: right;
    content: "ETAPE | " counter(item) ".";
}
ol.schema-how-to-steps {
    margin: 0;
    padding: 0px;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
}
ol.schema-how-to-steps li{
  padding: 15px;
}
ol.schema-how-to-steps li:nth-child(even) {
    background: #f5f5f5;
}
.schema-how-to-description {
    font-weight: 900;
    color: #e73f72;
    font-size: 20px;
    margin-top: 30px;
}
.schema-faq{
  display: flex;
  flex-direction: column;
  width: 100%;
  background: transparent;
  color: var(--white);
  border-radius: 0px;
  cursor: pointer;
  box-shadow: 0px 0px 7px 0px rgba(var(--red),0.5), 0px 0px 7px 0px rgba(var(--white),1), 0px 0px 15px 1px rgba(var(--blue),0.4);
}
.schema-faq-section {
    width: 100%;
}
.schema-faq-question {
    display: flex;
    width: 100%;
    padding: 1em;
    font-weight: 400;
    cursor: pointer;
    border-radius: 0px;
    border: 1px solid rgb(var(--white));
    z-index: 9;
    color: rgb(var(--white));
    left: 50%;
    top: 50%;
    align-items: center;
    font-size: 1em!important;
    text-transform: uppercase;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.single .schema-faq-question  {
    font-size: 16px!important;
    align-items: center;
}
.schema-faq-question:before {
    content: "+";
    display: flex;
    font-weight: 300;
    font-size: 28px;
    line-height: 35px;
    margin-left: 0px;
    margin-right: 15px;
    color: rgb(var(--black));
    width: 35px;
    height: 35px;
    min-width: 35px;
    min-height: 35px;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 80px;
    padding: 0px;
}
.schema-faq-answer {
  padding: 1em;
  display: none;
  overflow: hidden;
  color: #fff;
  border: 1px solid #FFF;
  transition: .35s ease;
}

.faq-light .schema-faq-question{
  border-radius: 15px;
  opacity: .6;
}

.faq-light .schema-faq-question:before{
  font-weight: 400;
}

.mx--1{
  margin: 0 -15px;
}






/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/


/* RESPONSIVE */
/* 13 POUCES */

/* 13 POUCES */
@media screen and (max-width: 1280px), screen and (max-height: 1024px)
{
  .d-none-13{display: none;}
  .w-100-13{
    width: 100%!important;
    flex: 100%!important;
    flex-basis: 100%!important;
  }


  button, .btn-full, .is-style-btn-full a, .wp-block-button a, .btn-stroke, .is-style-outline a {
    padding: 1em 2em!important;
  }
  .schema-faq-question:before {
    font-size: 20px;
    line-height: 20px;
    margin-right: 13px;
    width: 25px;
    height: 25px;
    min-width: 25px;
    min-height: 25px;
  }
  .schema-faq-question{font-size: 12px!important;}
}

@media (max-width: 1200px) {

}
/* IPAD PRO */
@media (max-width: 1024px) {

  .d-none-1024{display: none;}
  .wp-block-columns > .wp-block-column > .wp-block-columns{
    flex-direction: column!important;
  }
  .wp-block-columns > .wp-block-column > .wp-block-columns > .wp-block-column {
      width: 100%!important;
      flex: 100%!important;
      flex-basis: 100%!important;
      margin-left: auto!important;
      margin-right: auto;
      text-align: center;
  }
  .wp-block-columns > .wp-block-column > .wp-block-columns > .wp-block-column img {
    margin: 15px auto;
  }
}

@media (max-width: 992px) {

}

/* IPAD */
@media (max-width: 768px) {

}

/* MOBILE */
@media (max-width: 576px) {
  .banner:before, .banner:after {
    height: 80vw;
  }
  .schema-faq-question{text-align: left;}
  .is-style-container-small{
    max-width: 100vw;
    padding: 0 15px;
  }

  .has-big-font-size {
    font-size: 2.8rem!important;
}

  .has-bigtext-font-size{
    font-size: 1.3rem;
  }

  .is-style-container-half-right .wp-block-column:first-of-type,
  .is-style-container-half-left .wp-block-column:last-of-type  {
    padding: 0 15px;
    max-width: 100%;
  }

  .is-style-3disc-link a{
    padding: 1em 2em;
    margin: 0 1em;
  }

  .wp-block-group{
    text-align: center;
  }

  .wp-block-buttons{
    justify-content: center;
  }
  .is-style-container-half-left .img-br-right,
  .is-style-container-half-right .img-br-left{
    border-radius: 0;
  }

  .wp-block-query ul{
    padding : 0!important;
  }
  .wp-block-buttons>.wp-block-button:nth-of-type(1n + 2) {
    margin-left: 0px;
    margin-top: 30px;
  }
  .wp-block-buttons.is-content-justification-left {
    justify-content: center;
  }
  .has-large-font-size {
    font-size: 1.6em;
  }

  .container-full.h-100vh{
    min-height: auto!important;
    height: auto!important;
  }

  button, .btn-full, .is-style-btn-full a, .wp-block-button a, .btn-stroke, .is-style-outline a {
    padding: 1em 2em!important;
    letter-spacing: 2px!important;
  }

}
