.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    position: fixed;
    top: 0vw;
    left: 0vw;
    z-index: 999;
    color: rgb(var(--white));
    padding: 5vw;
    padding-bottom: 0;
    background: #ffffff00;
    transition: .35s ease-in-out;
}

.site-header h2{
    font-weight: 100;
    letter-spacing: 15px;
    font-size: clamp(8px, 2vw, 14px);
    transition: .35s ease-in-out;
    margin: auto;
    font-family: 'Monteserrat', sans-serif!important;
}
header .logo svg,
header .logo path {
    transition: .35s ease-in-out;
}
.site-header a{
    padding: 1em 2em;
}
header .logo,
header .btn-stroke{
    min-width: 200px;
}
/* BOTTOM MENU */

.site-navigation *{
-webkit-touch-callout: none!important;
-webkit-user-select: none!important;
-khtml-user-select: none!important;
-moz-user-select: none!important;
-ms-user-select: none!important;
user-select: none!important;
outline: 0;
}
.site-navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    z-index: 9999;
    height: 60px;
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    background: rgba(var(--white),0);
    cursor: pointer;
    transition: .35s ease-in-out;
}
.site-navigation:before {
    content: "";
    position: fixed;
    bottom: 0px;
    left: 0px;
    background: rgba(var(--black),1);
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity .35s ease-in-out;
    pointer-events: none;
}

.site-navigation .site-navigation-after{
    content: "";
    display: block;
    position: absolute;
    width: 100vw;
    transform: translate(-50%, 0px) perspective(0px) rotatex(0deg);
    left: 50%;
    bottom: 0;
    height: 30px;
    z-index: 1;
    transition: .35s ease-in-out;
    box-shadow:0px 0px 15px 0px rgba(var(--red),0.5), 0px 0px 10px 0px rgba(var(--white),1), 1px -5px 30px 2px rgba(var(--blue),0.6);
    background: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    transform-origin: bottom center;

}
.site-navigation .tab {
    background-color: rgb(var(--white));
    color: rgb(var(--black));
    display: block;
    margin: 0 auto;
    width: fit-content;
    z-index: 99999;
    transform: translate(0px, 0%);
    padding: 1.5em 1em;
    position: relative;
    font-weight: 900;
    letter-spacing: 15px;
    box-shadow: 0px 0px 15px 0px rgba(var(--red),0.5), 0px 0px 10px 0px rgba(var(--white),1), 1px -5px 30px 2px rgba(var(--blue),0.6);
    transition: .35s ease-in-out;
}

.site-navigation .tab span{
    margin-left: 15px;
    position: relative;
    z-index: 2;
}

.site-navigation .tab::after {
    content: "";
    display: block;
    position: absolute;
    width: 200%;
    transform: translate(-50%, 0px);
    left: 50%;
    top: 0;
    height: 0;
    border-width: 69px;
    border-style: solid;
    border-color: white;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top: 0;
    z-index: 1;
    transition: .35s ease-in-out;
}


.site-navigation-open .site-navigation,
.site-navigation-open .site-navigation .site-navigation-after{
    height: 100%;
}

.footerReached .site-navigation{
    transform: translateY(100%);
}

/* MAIN NAV OPEN ANIM 1 */
.site-navigation-open .site-navigation .tab{
transform: translate(0px, 100%);
}

.site-navigation-open .site-navigation .main-nav-image-container{
    opacity: 1;
}
/* MAIN NAV ANIM 2 */
.site-navigation-open .site-navigation:before {
    background: rgba(var(--black),1);
    height: 100%;
    opacity: 0.9;
}
.site-navigation-open .site-navigation .tab {
    opacity: 0;
}
.nav-section{
    height: 100%;
    width: 100%;
    overflow: hidden;

}
.close-site-navigation {
    cursor: pointer;
    top: 100px;
    right: 100px;
    z-index: 1004;
    filter: drop-shadow(0px -6px 25px #cb0767);
    position: fixed;
    opacity: 0;
    pointer-events: none;
}
.main-nav-image-container {
    cursor: pointer;
    top: 0px;
    right: 0px;
    z-index: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    object-fit: cover;
    transition: .35s ease-in-out;
}
.main-nav-image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main-nav-container {
    position: absolute;
    top: 0px;

    color: #fff;
    z-index: 1003;
    height: 100%;
    width: 100%;
    padding-right: 40%;
    padding-left: 15%;
    padding-top: 10%;
    padding-bottom: 10%;
}
.nav-section > *{
    opacity: 0;
    pointer-events: none;
    display: flex;
    transition: .35s ease-in-out;
}
.site-navigation-open .nav-section > *{
    opacity: 1;
    pointer-events: all;
}
.main-nav-container > div {
    position: relative;
    display: flex;
}

/* SITE NAVIGATION SVG ICON */

.menu-icon {
    position: absolute;
    top: 50%;
    left: auto;
    right: 0;
    transform: translate(calc(50vw + 0vw - 5%), -50%);
    width: 30vw;
    height: 30vw;
    border: 2px solid rgba(255, 255, 255, .1);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: .35s ease-in-out;
}

/*SUB*/
.main-nav-container ul:hover > li:not(:hover) > ul > li .menu-icon,
.main-nav-container ul:hover > li:hover > ul > li:not(:hover) .menu-icon{
    opacity: 0;
}
/*MAIN*/
.main-nav-container ul:hover > li.child-active > .menu-icon,
.main-nav-container ul:hover > li.current-menu-item > .menu-icon{
    opacity: 0;
}

.main-nav-container ul:hover > li.current-menu-item:hover > .menu-icon,
.main-nav-container ul > li.current-menu-item > .menu-icon,
.main-nav-container ul > li:hover > .menu-icon,
.main-nav-container ul > li.child-active > ul > li:hover > .menu-icon
{
    opacity: 1;
}

.main-nav-container ul:hover > li.current-menu-item:hover a,
.main-nav-container ul > li.current-menu-item a,
.main-nav-container ul > li:hover a{
    opacity: 1;
}
/* SITE NAVIGATION HOVER */
.site-navigation:hover .tab,
.site-navigation-open .site-navigation:hover .tab{
    box-shadow: 0px 0px 0px 0px #cb0767;
}
.site-navigation:hover .site-navigation-after,
.site-navigation-open .site-navigation .site-navigation-after{
    width: calc(100vw - 78px);
    transform: translate(-50%, 0px) perspective(300px) rotatex(15deg);
    box-shadow: 0px 0px 0px 0px #cb0767;
}
.site-navigation-open.site-navigation-child-open .site-navigation .site-navigation-after{
    width: calc(100vw - 0px);
    transform: translate(-50%, 0px) perspective(0px) rotatex(0deg);
    box-shadow: 0px 0px 0px 0px #cb0767;
}
.main-nav-container ul {
    list-style: none;
    font-size: 2em;
    margin: auto 0;
    line-height: 2.5em;
    padding-left: 0px;
}
.main-nav-container ul a{
    text-transform : uppercase;
    letter-spacing: 10px;
    color: #fff;
    transition: .35s ease-in-out;
    opacity: 0.3;
}

/* LOADER */
#loader{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    transition: .35s ease-in-out;
}

#loader.hide{
    display: none;
}

.speed-trap{
    position: fixed;
    z-index: 444;
    pointer-events: none;
}

#loader.fadeout{
    opacity: 0;
}

#loader .frame{
    height: 100vh;
    width: 100vw;
    left: 0;
    position: absolute;
}

#loader .frame:not(.frame-1){
    top: 100vh;
}

.frame-1{
    background-color: #FFF;
    z-index: 1;
    position: relative;

}
.frame-2{
    background-color: #CB0767;
    z-index: 2;
}
.frame-3{
    background-color: #4565AD;
    z-index: 3;
}
.frame-4{
    background-color: #3C3C3B;
    z-index: 5;
}


#loader .text{
    color: #CB0767;
    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    z-index: 4;
    text-align: center;
    font-weight: bold;
    font-family: var(--font);
}

#loader

#loader svg{
    margin-bottom: 2em;
}

#loader .text.white{
    color: #FFF;
}

#loader .text:not(.white) svg *{
    fill: #CB0767;
}





/* STICKY */
.sticky .site-header,
.sticky-locked .site-header {
    padding: 0 15px;
    background: #ffffff;

}
.sticky header .logo svg,
.sticky-locked header .logo svg {
    padding: 5px 0px;
    height: 50px;
}
.sticky header .logo path,
.sticky-locked header .logo path {
    fill: #000;
}
.sticky .site-header h2,
.sticky-locked .site-header h2 {
    font-weight: 100;
    letter-spacing: 10px;
    font-size: clamp(8px, 2vw, 12px);
    color: #000;
}

.sticky header a.btn-stroke,
.sticky-locked header a.btn-stroke {
    margin: 12px 0px;
    border: 2px solid rgb(var(--black))!important;
    color: rgb(var(--black))!important;
}

.sticky header a.btn-stroke:hover,
.sticky-locked header a.btn-stroke:hover {
    color: rgb(var(--white))!important;
}

.sticky header a.btn-stroke:after,
.sticky-locked header a.btn-stroke:after {
    background-color: rgb(var(--black))!important;
}


/*SOUS MENU*/
ul li ul.sub-menu {
    overflow: hidden;
    line-height: 0.7em;
    transition: .35s ease-in-out;
    margin: 0px!important;
    padding: 0px!important;
}
ul li:hover ul.sub-menu {
    overflow: hidden;
}
ul li ul.sub-menu li,
ul li ul.sub-menu li a{
    font-size: 14px;
    line-height: 0em;
    transition: .35s ease-in-out;
    overflow: hidden;
    letter-spacing: 3px;
}
ul li:hover ul.sub-menu li ,
ul li:hover ul.sub-menu li a{
    line-height: 30px;
    transition: .35s ease-in-out;
    overflow: hidden;
}




@media screen and (max-width: 1280px), screen and (max-height: 1024px)
{
    .site-header h2,
    .sticky .site-header h2,
    .sticky-locked .site-header h2 {
        letter-spacing: 7px;
        font-size: clamp(8px, 2vw, 12px);
    }
    .site-header {
        padding: 15px;
    }
    .site-navigation .tab {
        padding: 0.8em 1em;
        box-shadow: 0px 0px 15px 0px rgba(var(--red),0.5), 0px 0px 10px 0px rgba(var(--white),1), 1px -5px 30px 2px rgba(var(--blue),0.6);
        border-radius: 280px;
    }
    .site-navigation .site-navigation-after{
        box-shadow: 0px 0px 15px 0px rgba(var(--red),0.5), 0px 0px 10px 0px rgba(var(--white),1), 1px -5px 30px 2px rgba(var(--blue),0.6);
        height: 15px;
    }
    .sticky #masthead .btn-stroke {
        padding: 0.5em 1em!important;
    }


    /*MENU*/
    .main-nav-container {
        padding-right: 50%;
        padding-left: 5%;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .close-site-navigation {
        top: 50px;
        right: 50px;
    }
}


@media (max-width: 1200px) {

}
/* IPAD PRO */
@media (max-width: 1024px) {

    .site-header a {
        padding: 0px;
        height: fit-content;
    }

}

@media (max-width: 992px) {
    .site-header h2, .sticky .site-header h2, .sticky-locked .site-header h2{
        display: none;
    }
}

/* IPAD */
@media (max-width: 768px) {
    .main-nav-container {
        padding-right: 15%;
        padding-left: 15%;
        padding-top: 10%;
        padding-bottom: 10%;
        justify-content: center;
        text-align: center;
    }
    .site-navigation .site-navigation-after {
        width: 100vw!important;
        height: 100vh!important;
        transform: translate(-50%, 100%) perspective(0px) scale(0.8) rotatex(0deg)!important;
        box-shadow: 0px 0px 0px 0px #cb0767!important;
        top: 50%!important;
        transform-origin: center!important;
        background: #000!important;
    }
    /*01*/
    .site-navigation-open .site-navigation:before {
        opacity: 0.5!important;
    }
    .site-navigation-open .site-navigation .site-navigation-after {
        transform: translate(-50%, -50%) perspective(0px) scale(0.8) rotatex(0deg)!important;
    }
    .site-navigation-open .site-navigation .main-nav-image-container {
        opacity: 1!important;
    }
    /*O2*/
    .site-navigation-open .site-navigation:before {
        opacity: 0.5!important;
    }
    .site-navigation-open.site-navigation-child-open .site-navigation .site-navigation-after {
        transform: translate(-50%, -50%) perspective(0px) scale(1) rotatex(0deg)!important;
        background: #000000ba!important;
    }
    .site-navigation-open.site-navigation-child-open  .site-navigation .main-nav-image-container {
        opacity: 1!important;
    }
}

/* MOBILE */
@media (max-width: 576px) {


    .main-nav-container {
        padding-right: 30px;
        padding-left: 30px;
    }

    .main-nav-container ul a {
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 16px;
    }



    .site-navigation .site-navigation-after,
    .site-navigation .tab{
        box-shadow : none;
    }





    header .logo,
    header .btn-stroke {
        min-width: auto;
        width: 40%;
    }
    header .logo svg{width: 100%;}
}
