:root{
 --widthnavmobile: 100vw;
 --black: 0, 0, 0;
 --white: 255, 255, 255;

 --red: 203, 7, 103;
 --blue: 69, 101, 173;
 --grey: 60, 60, 59;
 --dark: 27, 27, 27;

}
.squada{
    font-family: 'Squada One', sans-serif;
}

body {
	margin: 0;
	background-color: rgb(var(--dark));
    font-size: 16px;
    letter-spacing: 0px;
    font-weight: 300;
    font-family: 'Monteserrat', sans-serif;
    scroll-behavior: smooth;
}

h1, h2, h3 {
    font-family: 'Squada One', sans-serif!important;
}

h2{
    font-size: clamp(30px, 2vw, 40px);
    letter-spacing: 1px;
}

h3{
    font-size: clamp(20px, 2vw, 30px);
    letter-spacing: 1px;
}



html{
    scroll-behavior: smooth;
}

main > section > *{
    transition: .25s ease;
}

.marker{
    color: red;
    position: absolute;
    right: 50px;
    z-index: 9999999;
}

.marker:before{
    content: "";
    width: 30px;
    height: 1px;
    display: block;
    background-color: red;
    position:absolute;
    top: 50%;
    left: -100%;

}

.text-white{color: rgb(var(--white))!important;}
.text-black{color: rgb(var(--dark2))!important;}
.text-grey{color: rgb(var(--grey))!important;}
.bkg-white{background-color: rgb(var(--white))!important;}
.bkg-black{background-color: rgb(var(--dark2))!important;}
.bkg-grey{background-color: rgb(var(--grey))!important;}

.text-red{color: rgb(var(--red))!important;}
.text-blue{color: rgb(var(--blue))!important;}
.text-dark{color: rgb(var(--grey))!important;}
.bkg-red{background-color: rgb(var(--red))!important;}
.bkg-blue{background-color: rgb(var(--blue))!important;}
.bkg-dark{background-color: rgb(var(--grey))!important;}

.uppercase{text-transform: uppercase;}
[hidden] {
    display: none !important;
}
.hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.wp-block-columns{
    margin: 0;
}

.modal {
    z-index: 91050!important;
}

@media (min-width: 1500px) {
    .container {
        max-width: 70vw;
    }
}

.object-fit-cover{object-fit: cover;}
.anim-300-linear, .anim-300-linear a {
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

.anim-300, .anim-300 a {
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.anim-500, .anim-500 a {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.anim-800, .anim-800 a {
    -webkit-transition: all 800ms ease !important;
    -moz-transition: all 800ms ease !important;
    -ms-transition: all 800ms ease !important;
    -o-transition: all 800ms ease !important;
    transition: all 800ms ease !important;
}

.anim-800-linear {
    -webkit-transition: all 800ms linear !important;
    -moz-transition: all 800ms linear !important;
    -ms-transition: all 800ms linear !important;
    -o-transition: all 800ms linear !important;
    transition: all 800ms linear !important;
}

b,
strong {
	font-weight: 600;
}


.nav ul {
    list-style: none;
    margin-bottom: 0;
}

.no-bkg {
    background: transparent !important;
}

.overflow-hidden {
    overflow: hidden !important;
}

.ls-1 {
    letter-spacing: 1px !important;
}

.ls-2 {
    letter-spacing: 2px !important;
}

.ls-3 {
    letter-spacing: 3px !important;
}

.ls-4 {
    letter-spacing: 4px !important;
}

.w-50vw {
    width: 50vw;
    min-width: 300px;
}

.w-100vw {
    width: 100vw;
}

.h-50vh {
    height: 50vh
}

.h-100vh {
    height: 100vh
}

.mh-100vh {
    min-height: 100vh;
}

.list-unstyled{
    list-style: none;
    margin: 0;
    padding: 0;
}
.pt-25vh {
    padding-top: 25vh !important;
}
.fw-100{font-weight: 100!important;}
.fw-200{font-weight: 200!important;}
.fw-300{font-weight: 300!important;}
.fw-400{font-weight: 400!important;}
.fw-500{font-weight: 500!important;}
.fw-600{font-weight: 600!important;}
.fw-600{font-weight: 600!important;}
.fw-700{font-weight: 700!important;}
.fw-800{font-weight: 800!important;}
.fw-900{font-weight: 900!important;}

.no-border{border: none!important;}


.img-br-left{
    border-radius:  20px 0px 0px 20px;
    overflow: hidden;
}
.img-br-right{
    border-radius: 0px 20px 20px 0px;
    overflow: hidden;
}
.br-5{border-radius: 5px;}


.no-scrollbar{
    /* scroll-behavior: smooth; */
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.gaming-frame{
        border: 1px solid #ffffff52;
        padding: 15px;
}
.gaming-frame:before,
.gaming-frame:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    pointer-events: none;
    transition: .35s ease;
    opacity: 1;
    background-size: 220px 10px;
    background-repeat: no-repeat;
}
.gaming-frame:before{
    background-image: url(../img/corner-left.svg);
    top: -10px;
    left: 10px;
    background-position: top right;
}
.gaming-frame:after{
    background-image: url(../img/corner-right.svg);
    background-position: bottom left;
    left: -10px;
    top: auto;
    bottom: -10px;
}



@media screen and (max-width: 1280px), screen and (max-height: 1024px)
{
   body{font-size: 16px;}
}


@media (max-width: 1200px) {

}
/* IPAD PRO */
@media (max-width: 1024px) {


}

@media (max-width: 992px) {

}

/* IPAD */
@media (max-width: 768px) {
    body{font-size: 14px;}
}

/* MOBILE */
@media (max-width: 576px) {
}
